In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Introduction to Spark").getOrCreate()
df_pyspark = spark.read.csv("/mnt/c/dsp234/data.csv", header = True, inferSchema = True)
df_pyspark.show(20)

24/04/01 17:44:15 WARN Utils: Your hostname, DESKTOP-UJM3BA1 resolves to a loopback address: 127.0.1.1; using 172.22.176.199 instead (on interface eth0)
24/04/01 17:44:15 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/04/01 17:44:17 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

+--------+-------------------+---------+-------------------+------------+----------------+----------------+------+-----------+----+------------------+--------------------+
|children|      days_employed|dob_years|          education|education_id|   family_status|family_status_id|gender|income_type|debt|      total_income|             purpose|
+--------+-------------------+---------+-------------------+------------+----------------+----------------+------+-----------+----+------------------+--------------------+
|       1| -8437.673027760233|       42|             высшее|           0| женат / замужем|               0|     F|  сотрудник|   0| 253875.6394525987|       покупка жилья|
|       1| -4024.803753850451|       36|            среднее|           1| женат / замужем|               0|     F|  сотрудник|   0|112080.01410244203|приобретение авто...|
|       0| -5623.422610230956|       33|            Среднее|           1| женат / замужем|               0|     M|  сотрудник|   0|145885.95229686378|       покупка жилья|
|       3| -4124.747206540018|       32|            среднее|           1| женат / замужем|               0|     M|  сотрудник|   0| 267628.5503294142|дополнительное об...|
|       0| 340266.07204682194|       53|            среднее|           1|гражданский брак|               1|     F|  пенсионер|   0|158616.07787006293|     сыграть свадьбу|
|       0| -926.1858308789183|       27|             высшее|           0|гражданский брак|               1|     M|  компаньон|   0|255763.56541904988|       покупка жилья|
|       0| -2879.202052139952|       43|             высшее|           0| женат / замужем|               0|     F|  компаньон|   0| 240525.9719203061|   операции с жильем|
|       0| -152.7795691752705|       50|            СРЕДНЕЕ|           1| женат / замужем|               0|     M|  сотрудник|   0|135823.93419727974|         образование|
|       2| -6929.865298973741|       35|             ВЫСШЕЕ|           0|гражданский брак|               1|     F|  сотрудник|   0| 95856.83242386373|на проведение сва...|
|       0|-2188.7564450779378|       41|            среднее|           1| женат / замужем|               0|     M|  сотрудник|   0|144425.93827708642|покупка жилья для...|
|       2| -4171.483646903305|       36|             высшее|           0| женат / замужем|               0|     M|  компаньон|   0| 113943.4914603043|покупка недвижимости|
|       0| -792.7018870609315|       40|            среднее|           1| женат / замужем|               0|     F|  сотрудник|   0| 77069.23427130934|покупка коммерчес...|
|       0|               NULL|       65|            среднее|           1|гражданский брак|               1|     M|  пенсионер|   0|              NULL|     сыграть свадьбу|
|       0|-1846.6419410560736|       54|неоконченное высшее|           2| женат / замужем|               0|     F|  сотрудник|   0|130458.22885695785|приобретение авто...|
|       0|-1844.9561821875545|       56|             высшее|           0|гражданский брак|               1|     F|  компаньон|   1|165127.91177218047|покупка жилой нед...|
|       1| -972.3644189900732|       26|            среднее|           1| женат / замужем|               0|     F|  сотрудник|   0|116820.90444993385|строительство соб...|
|       0|-1719.9342261530542|       35|            среднее|           1| женат / замужем|               0|     F|  сотрудник|   0| 289202.7042292056|        недвижимость|
|       0| -2369.999720209008|       33|             высшее|           0|гражданский брак|               1|     M|  сотрудник|   0| 90410.58674466488|строительство нед...|
|       0|  400281.1369125588|       53|            среднее|           1|  вдовец / вдова|               2|     F|  пенсионер|   0|  56823.7772431838|на покупку подерж...|
|       0|-10038.818548915877|       48|            СРЕДНЕЕ|           1|       в разводе|               3|     F|  сотрудник|   0|  242831.107981772|на покупку своего...|
+--------+-------------------+---------+-------------------+------------+----------------+----------------+------+-----------+----+------------------+--------------------+
only showing top 20 rows

## Первая таблица показывает пропуски в каждом из столбцов, вторая таблица показывает количество всех ненулевых данных в каждом из столбцов, в третьей произведена замена данных в столбце 'total_income' с значений равных NULL на медианное значение со всего столбца
## в `days_employed` и `total_income` доля незаполненных данных составляет <b>11,2%</b>
## Пропуски данных в столбцах таблицы могут возникать по разным причинам. Некоторые из наиболее распространенных причин включают в себя: 
1. Недостоверность или неполные данные: Иногда данные просто не были собраны или введены правильно, что приводит к пропускам информации в таблице.
2. Ошибки в сборе данных: В процессе сбора данных могут возникать ошибки, например, если ответ не был предоставлен или был неправильно записан.
3. Технические проблемы: Некоторые пропуски данных могут быть вызваны техническими проблемами, такими как сбои в программном обеспечении, потеря данных или сбои в сети.
4. Изменения в структуре данных: Изменения в структуре данных или в самих данных могут привести к пропускам информации в таблице.
## Заполнение пропусков медианным значением в таблице для количественных переменных нужно для сохранения формы распределенния данных, сохранения статистических свойств, простоты и эффективности анализа

In [2]:
import pyspark.sql.functions as f
from pyspark.sql.functions import col,isnan, when, count

df_pyspark.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df_pyspark.columns]).show()
df_pyspark.select([count( c).alias(c) for c in df_pyspark.columns]).show()

df_pyspark = df_pyspark.na.fill(df_pyspark.select(f.mean(df_pyspark['total_income'])).collect()[0][0])
df_pyspark.show(20)

+--------+-------------+---------+---------+------------+-------------+----------------+------+-----------+----+------------+-------+
|children|days_employed|dob_years|education|education_id|family_status|family_status_id|gender|income_type|debt|total_income|purpose|
+--------+-------------+---------+---------+------------+-------------+----------------+------+-----------+----+------------+-------+
|       0|         2174|        0|        0|           0|            0|               0|     0|          0|   0|        2174|      0|
+--------+-------------+---------+---------+------------+-------------+----------------+------+-----------+----+------------+-------+

+--------+-------------+---------+---------+------------+-------------+----------------+------+-----------+-----+------------+-------+
|children|days_employed|dob_years|education|education_id|family_status|family_status_id|gender|income_type| debt|total_income|purpose|
+--------+-------------+---------+---------+------------+-------------+----------------+------+-----------+-----+------------+-------+
|   21525|        19351|    21525|    21525|       21525|        21525|           21525| 21525|      21525|21525|       19351|  21525|
+--------+-------------+---------+---------+------------+-------------+----------------+------+-----------+-----+------------+-------+

+--------+-------------------+---------+-------------------+------------+----------------+----------------+------+-----------+----+------------------+--------------------+
|children|      days_employed|dob_years|          education|education_id|   family_status|family_status_id|gender|income_type|debt|      total_income|             purpose|
+--------+-------------------+---------+-------------------+------------+----------------+----------------+------+-----------+----+------------------+--------------------+
|       1| -8437.673027760233|       42|             высшее|           0| женат / замужем|               0|     F|  сотрудник|   0| 253875.6394525987|       покупка жилья|
|       1| -4024.803753850451|       36|            среднее|           1| женат / замужем|               0|     F|  сотрудник|   0|112080.01410244203|приобретение авто...|
|       0| -5623.422610230956|       33|            Среднее|           1| женат / замужем|               0|     M|  сотрудник|   0|145885.95229686378|       покупка жилья|
|       3| -4124.747206540018|       32|            среднее|           1| женат / замужем|               0|     M|  сотрудник|   0| 267628.5503294142|дополнительное об...|
|       0| 340266.07204682194|       53|            среднее|           1|гражданский брак|               1|     F|  пенсионер|   0|158616.07787006293|     сыграть свадьбу|
|       0| -926.1858308789183|       27|             высшее|           0|гражданский брак|               1|     M|  компаньон|   0|255763.56541904988|       покупка жилья|
|       0| -2879.202052139952|       43|             высшее|           0| женат / замужем|               0|     F|  компаньон|   0| 240525.9719203061|   операции с жильем|
|       0| -152.7795691752705|       50|            СРЕДНЕЕ|           1| женат / замужем|               0|     M|  сотрудник|   0|135823.93419727974|         образование|
|       2| -6929.865298973741|       35|             ВЫСШЕЕ|           0|гражданский брак|               1|     F|  сотрудник|   0| 95856.83242386373|на проведение сва...|
|       0|-2188.7564450779378|       41|            среднее|           1| женат / замужем|               0|     M|  сотрудник|   0|144425.93827708642|покупка жилья для...|
|       2| -4171.483646903305|       36|             высшее|           0| женат / замужем|               0|     M|  компаньон|   0| 113943.4914603043|покупка недвижимости|
|       0| -792.7018870609315|       40|            среднее|           1| женат / замужем|               0|     F|  сотрудник|   0| 77069.23427130934|покупка коммерчес...|
|       0|  167422.3022081719|       65|            среднее|           1|гражданский брак|               1|     M|  пенсионер|   0| 167422.3022081719|     сыграть свадьбу|
|       0|-1846.6419410560736|       54|неоконченное высшее|           2| женат / замужем|               0|     F|  сотрудник|   0|130458.22885695785|приобретение авто...|
|       0|-1844.9561821875545|       56|             высшее|           0|гражданский брак|               1|     F|  компаньон|   1|165127.91177218047|покупка жилой нед...|
|       1| -972.3644189900732|       26|            среднее|           1| женат / замужем|               0|     F|  сотрудник|   0|116820.90444993385|строительство соб...|
|       0|-1719.9342261530542|       35|            среднее|           1| женат / замужем|               0|     F|  сотрудник|   0| 289202.7042292056|        недвижимость|
|       0| -2369.999720209008|       33|             высшее|           0|гражданский брак|               1|     M|  сотрудник|   0| 90410.58674466488|строительство нед...|
|       0|  400281.1369125588|       53|            среднее|           1|  вдовец / вдова|               2|     F|  пенсионер|   0|  56823.7772431838|на покупку подерж...|
|       0|-10038.818548915877|       48|            СРЕДНЕЕ|           1|       в разводе|               3|     F|  сотрудник|   0|  242831.107981772|на покупку своего...|
+--------+-------------------+---------+-------------------+------------+----------------+----------------+------+-----------+----+------------------+--------------------+
only showing top 20 rows

## замена аномальных значений, все отрицательные стали положительными
## далее все значения равные NULL были приравнены среднему по столбцу

In [3]:
from pyspark.sql.functions import abs
df_pyspark = df_pyspark.withColumn('days_employed', abs(df_pyspark.days_employed))

df_pyspark = df_pyspark.na.fill(df_pyspark.select(f.mean(df_pyspark['days_employed'])).collect()[0][0])
df_pyspark.show(20)

+--------+------------------+---------+-------------------+------------+----------------+----------------+------+-----------+----+------------------+--------------------+
|children|     days_employed|dob_years|          education|education_id|   family_status|family_status_id|gender|income_type|debt|      total_income|             purpose|
+--------+------------------+---------+-------------------+------------+----------------+----------------+------+-----------+----+------------------+--------------------+
|       1| 8437.673027760233|       42|             высшее|           0| женат / замужем|               0|     F|  сотрудник|   0| 253875.6394525987|       покупка жилья|
|       1| 4024.803753850451|       36|            среднее|           1| женат / замужем|               0|     F|  сотрудник|   0|112080.01410244203|приобретение авто...|
|       0| 5623.422610230956|       33|            Среднее|           1| женат / замужем|               0|     M|  сотрудник|   0|145885.95229686378|       покупка жилья|
|       3| 4124.747206540018|       32|            среднее|           1| женат / замужем|               0|     M|  сотрудник|   0| 267628.5503294142|дополнительное об...|
|       0|340266.07204682194|       53|            среднее|           1|гражданский брак|               1|     F|  пенсионер|   0|158616.07787006293|     сыграть свадьбу|
|       0| 926.1858308789183|       27|             высшее|           0|гражданский брак|               1|     M|  компаньон|   0|255763.56541904988|       покупка жилья|
|       0| 2879.202052139952|       43|             высшее|           0| женат / замужем|               0|     F|  компаньон|   0| 240525.9719203061|   операции с жильем|
|       0| 152.7795691752705|       50|            СРЕДНЕЕ|           1| женат / замужем|               0|     M|  сотрудник|   0|135823.93419727974|         образование|
|       2| 6929.865298973741|       35|             ВЫСШЕЕ|           0|гражданский брак|               1|     F|  сотрудник|   0| 95856.83242386373|на проведение сва...|
|       0|2188.7564450779378|       41|            среднее|           1| женат / замужем|               0|     M|  сотрудник|   0|144425.93827708642|покупка жилья для...|
|       2| 4171.483646903305|       36|             высшее|           0| женат / замужем|               0|     M|  компаньон|   0| 113943.4914603043|покупка недвижимости|
|       0| 792.7018870609315|       40|            среднее|           1| женат / замужем|               0|     F|  сотрудник|   0| 77069.23427130934|покупка коммерчес...|
|       0| 167422.3022081719|       65|            среднее|           1|гражданский брак|               1|     M|  пенсионер|   0| 167422.3022081719|     сыграть свадьбу|
|       0|1846.6419410560736|       54|неоконченное высшее|           2| женат / замужем|               0|     F|  сотрудник|   0|130458.22885695785|приобретение авто...|
|       0|1844.9561821875545|       56|             высшее|           0|гражданский брак|               1|     F|  компаньон|   1|165127.91177218047|покупка жилой нед...|
|       1| 972.3644189900732|       26|            среднее|           1| женат / замужем|               0|     F|  сотрудник|   0|116820.90444993385|строительство соб...|
|       0|1719.9342261530542|       35|            среднее|           1| женат / замужем|               0|     F|  сотрудник|   0| 289202.7042292056|        недвижимость|
|       0| 2369.999720209008|       33|             высшее|           0|гражданский брак|               1|     M|  сотрудник|   0| 90410.58674466488|строительство нед...|
|       0| 400281.1369125588|       53|            среднее|           1|  вдовец / вдова|               2|     F|  пенсионер|   0|  56823.7772431838|на покупку подерж...|
|       0|10038.818548915877|       48|            СРЕДНЕЕ|           1|       в разводе|               3|     F|  сотрудник|   0|  242831.107981772|на покупку своего...|
+--------+------------------+---------+-------------------+------------+----------------+----------------+------+-----------+----+------------------+--------------------+
only showing top 20 rows

## измение типа значений в стобце `total_income` на целочисленный тип

In [4]:
from pyspark.sql.types import IntegerType
df_pyspark = df_pyspark.withColumn('total_income', df_pyspark['total_income'].cast(IntegerType()))
df_pyspark.show(20)

+--------+------------------+---------+-------------------+------------+----------------+----------------+------+-----------+----+------------+--------------------+
|children|     days_employed|dob_years|          education|education_id|   family_status|family_status_id|gender|income_type|debt|total_income|             purpose|
+--------+------------------+---------+-------------------+------------+----------------+----------------+------+-----------+----+------------+--------------------+
|       1| 8437.673027760233|       42|             высшее|           0| женат / замужем|               0|     F|  сотрудник|   0|      253875|       покупка жилья|
|       1| 4024.803753850451|       36|            среднее|           1| женат / замужем|               0|     F|  сотрудник|   0|      112080|приобретение авто...|
|       0| 5623.422610230956|       33|            Среднее|           1| женат / замужем|               0|     M|  сотрудник|   0|      145885|       покупка жилья|
|       3| 4124.747206540018|       32|            среднее|           1| женат / замужем|               0|     M|  сотрудник|   0|      267628|дополнительное об...|
|       0|340266.07204682194|       53|            среднее|           1|гражданский брак|               1|     F|  пенсионер|   0|      158616|     сыграть свадьбу|
|       0| 926.1858308789183|       27|             высшее|           0|гражданский брак|               1|     M|  компаньон|   0|      255763|       покупка жилья|
|       0| 2879.202052139952|       43|             высшее|           0| женат / замужем|               0|     F|  компаньон|   0|      240525|   операции с жильем|
|       0| 152.7795691752705|       50|            СРЕДНЕЕ|           1| женат / замужем|               0|     M|  сотрудник|   0|      135823|         образование|
|       2| 6929.865298973741|       35|             ВЫСШЕЕ|           0|гражданский брак|               1|     F|  сотрудник|   0|       95856|на проведение сва...|
|       0|2188.7564450779378|       41|            среднее|           1| женат / замужем|               0|     M|  сотрудник|   0|      144425|покупка жилья для...|
|       2| 4171.483646903305|       36|             высшее|           0| женат / замужем|               0|     M|  компаньон|   0|      113943|покупка недвижимости|
|       0| 792.7018870609315|       40|            среднее|           1| женат / замужем|               0|     F|  сотрудник|   0|       77069|покупка коммерчес...|
|       0| 167422.3022081719|       65|            среднее|           1|гражданский брак|               1|     M|  пенсионер|   0|      167422|     сыграть свадьбу|
|       0|1846.6419410560736|       54|неоконченное высшее|           2| женат / замужем|               0|     F|  сотрудник|   0|      130458|приобретение авто...|
|       0|1844.9561821875545|       56|             высшее|           0|гражданский брак|               1|     F|  компаньон|   1|      165127|покупка жилой нед...|
|       1| 972.3644189900732|       26|            среднее|           1| женат / замужем|               0|     F|  сотрудник|   0|      116820|строительство соб...|
|       0|1719.9342261530542|       35|            среднее|           1| женат / замужем|               0|     F|  сотрудник|   0|      289202|        недвижимость|
|       0| 2369.999720209008|       33|             высшее|           0|гражданский брак|               1|     M|  сотрудник|   0|       90410|строительство нед...|
|       0| 400281.1369125588|       53|            среднее|           1|  вдовец / вдова|               2|     F|  пенсионер|   0|       56823|на покупку подерж...|
|       0|10038.818548915877|       48|            СРЕДНЕЕ|           1|       в разводе|               3|     F|  сотрудник|   0|      242831|на покупку своего...|
+--------+------------------+---------+-------------------+------------+----------------+----------------+------+-----------+----+------------+--------------------+
only showing top 20 rows

## замена значений в столбце `education` к нижнему регистру и удаление строк-дубликатов

In [5]:
from pyspark.sql.functions import lower
print(df_pyspark.count)
df_pyspark = df_pyspark.distinct()
print(df_pyspark.count)
df_pyspark = df_pyspark.withColumn("education", lower(df_pyspark["education"]))
df_pyspark.show(20)

<bound method DataFrame.count of DataFrame[children: int, days_employed: double, dob_years: int, education: string, education_id: int, family_status: string, family_status_id: int, gender: string, income_type: string, debt: int, total_income: int, purpose: string]>
<bound method DataFrame.count of DataFrame[children: int, days_employed: double, dob_years: int, education: string, education_id: int, family_status: string, family_status_id: int, gender: string, income_type: string, debt: int, total_income: int, purpose: string]>

+--------+------------------+---------+---------+------------+--------------------+----------------+------+-----------+----+------------+--------------------+
|children|     days_employed|dob_years|education|education_id|       family_status|family_status_id|gender|income_type|debt|total_income|             purpose|
+--------+------------------+---------+---------+------------+--------------------+----------------+------+-----------+----+------------+--------------------+
|       0|4341.7867754100425|       53|  среднее|           1|    гражданский брак|               1|     F|  компаньон|   0|      261369|операции с недвиж...|
|       0|12930.541677797675|       61|  среднее|           1|Не женат / не зам...|               4|     F|  компаньон|   0|      173896|        недвижимость|
|       1| 3267.738265311034|       45|   высшее|           0|    гражданский брак|               1|     F|  сотрудник|   0|      118552|на проведение сва...|
|       2|2844.5470858598133|       40|  среднее|           1|     женат / замужем|               0|     F|  сотрудник|   0|      207374|        ремонт жилью|
|       1|1399.8326217520041|       40|  среднее|           1|     женат / замужем|               0|     M|  сотрудник|   0|      181903|покупка жилой нед...|
|       1| 918.4577035188928|       28|   высшее|           0|     женат / замужем|               0|     F|  компаньон|   0|      111341|     свой автомобиль|
|       1| 883.7834692065311|       27|  среднее|           1|    гражданский брак|               1|     F|  сотрудник|   0|      229051|  высшее образование|
|       1| 669.0530823899172|       41|   высшее|           0|     женат / замужем|               0|     M|  компаньон|   1|      125377|сделка с подержан...|
|       0| 392327.7284041557|       66|  среднее|           1|     женат / замужем|               0|     M|  пенсионер|   0|      106022|строительство жил...|
|       0|3402.0833655451306|       27|  среднее|           1|     женат / замужем|               0|     F|  сотрудник|   0|      161281|заняться высшим о...|
|       0| 1380.192461002104|       51|  среднее|           1|     женат / замужем|               0|     M|  сотрудник|   0|      101941|          автомобиль|
|       0| 165.5972845299278|       54|  среднее|           1|     женат / замужем|               0|     F|  сотрудник|   0|       69914|     свой автомобиль|
|       1| 641.2886784154639|       34|   высшее|           0|     женат / замужем|               0|     M|  сотрудник|   0|      176509|        ремонт жилью|
|       0|1741.0828917220367|       56|  среднее|           1|     женат / замужем|               0|     F|  сотрудник|   0|       71174|операции с недвиж...|
|       0|1198.2809136383146|       43|   высшее|           0|           в разводе|               3|     M|госслужащий|   0|      191350|строительство жил...|
|       0| 995.5496521801937|       43|  среднее|           1|    гражданский брак|               1|     M|  сотрудник|   1|      143302|               жилье|
|       0| 3948.224795314823|       49|  среднее|           1|     женат / замужем|               0|     F|  сотрудник|   0|       43538|       покупка жилья|
|       0|1368.2402581402926|       45|  среднее|           1|     женат / замужем|               0|     M|  компаньон|   0|       57508|строительство нед...|
|       0|  333354.587972724|       58|   высшее|           0|     женат / замужем|               0|     F|  пенсионер|   0|       69131|       покупка жилья|
|       0| 167422.3022081719|       52|  среднее|           1|     женат / замужем|               0|     M|госслужащий|   0|      167422|     свой автомобиль|
+--------+------------------+---------+---------+------------+--------------------+----------------+------+-----------+----+------------+--------------------+
only showing top 20 rows

## Создание двух новых датафреймов с хранением id значений столбца `education` и `family_status` и удаление этих столбцом из начальной таблицы

In [6]:
from pyspark.sql.functions import desc, asc
df_pyspark.createOrReplaceTempView('dubli')
new_edu_df = spark.sql("select education, education_id from dubli group by education, education_id")
new_fam_df = spark.sql("select family_status, family_status_id from dubli group by family_status, family_status_id")

new_edu_df.show()
new_fam_df.show()

df_pyspark.drop('education')
df_pyspark.drop('family_status')

+-------------------+------------+
|          education|education_id|
+-------------------+------------+
|     ученая степень|           4|
|             высшее|           0|
|          начальное|           3|
|неоконченное высшее|           2|
|            среднее|           1|
+-------------------+------------+

+--------------------+----------------+
|       family_status|family_status_id|
+--------------------+----------------+
|    гражданский брак|               1|
|      вдовец / вдова|               2|
|Не женат / не зам...|               4|
|     женат / замужем|               0|
|           в разводе|               3|
+--------------------+----------------+

DataFrame[children: int, days_employed: double, dob_years: int, education: string, education_id: int, family_status_id: int, gender: string, income_type: string, debt: int, total_income: int, purpose: string]

## Создание столбца `total_income_category` на основе диапазона с категориями
0–30000 — 'E';
30001–50000 — 'D';
50001–200000 — 'C';
200001–1000000 — 'B';
1000001 и выше — 'A'.

In [7]:
from pyspark.sql.functions import udf 
def income_group(income): 
    if income <= 30000: 
        return "E"
    elif income <= 50000:
        return "D"
    elif income <= 200000:
        return "C"
    elif income <= 1000000:
        return "B"
    else: 
        return "A"

totalincome_group_udf = udf(income_group) 
df_pyspark = df_pyspark.withColumn("total_income_category", totalincome_group_udf(df_pyspark.total_income))

df_pyspark.show(20)

+--------+------------------+---------+---------+------------+--------------------+----------------+------+-----------+----+------------+--------------------+---------------------+
|children|     days_employed|dob_years|education|education_id|       family_status|family_status_id|gender|income_type|debt|total_income|             purpose|total_income_category|
+--------+------------------+---------+---------+------------+--------------------+----------------+------+-----------+----+------------+--------------------+---------------------+
|       0|4341.7867754100425|       53|  среднее|           1|    гражданский брак|               1|     F|  компаньон|   0|      261369|операции с недвиж...|                    B|
|       0|12930.541677797675|       61|  среднее|           1|Не женат / не зам...|               4|     F|  компаньон|   0|      173896|        недвижимость|                    C|
|       1| 3267.738265311034|       45|   высшее|           0|    гражданский брак|               1|     F|  сотрудник|   0|      118552|на проведение сва...|                    C|
|       2|2844.5470858598133|       40|  среднее|           1|     женат / замужем|               0|     F|  сотрудник|   0|      207374|        ремонт жилью|                    B|
|       1|1399.8326217520041|       40|  среднее|           1|     женат / замужем|               0|     M|  сотрудник|   0|      181903|покупка жилой нед...|                    C|
|       1| 918.4577035188928|       28|   высшее|           0|     женат / замужем|               0|     F|  компаньон|   0|      111341|     свой автомобиль|                    C|
|       1| 883.7834692065311|       27|  среднее|           1|    гражданский брак|               1|     F|  сотрудник|   0|      229051|  высшее образование|                    B|
|       1| 669.0530823899172|       41|   высшее|           0|     женат / замужем|               0|     M|  компаньон|   1|      125377|сделка с подержан...|                    C|
|       0| 392327.7284041557|       66|  среднее|           1|     женат / замужем|               0|     M|  пенсионер|   0|      106022|строительство жил...|                    C|
|       0|3402.0833655451306|       27|  среднее|           1|     женат / замужем|               0|     F|  сотрудник|   0|      161281|заняться высшим о...|                    C|
|       0| 1380.192461002104|       51|  среднее|           1|     женат / замужем|               0|     M|  сотрудник|   0|      101941|          автомобиль|                    C|
|       0| 165.5972845299278|       54|  среднее|           1|     женат / замужем|               0|     F|  сотрудник|   0|       69914|     свой автомобиль|                    C|
|       1| 641.2886784154639|       34|   высшее|           0|     женат / замужем|               0|     M|  сотрудник|   0|      176509|        ремонт жилью|                    C|
|       0|1741.0828917220367|       56|  среднее|           1|     женат / замужем|               0|     F|  сотрудник|   0|       71174|операции с недвиж...|                    C|
|       0|1198.2809136383146|       43|   высшее|           0|           в разводе|               3|     M|госслужащий|   0|      191350|строительство жил...|                    C|
|       0| 995.5496521801937|       43|  среднее|           1|    гражданский брак|               1|     M|  сотрудник|   1|      143302|               жилье|                    C|
|       0| 3948.224795314823|       49|  среднее|           1|     женат / замужем|               0|     F|  сотрудник|   0|       43538|       покупка жилья|                    D|
|       0|1368.2402581402926|       45|  среднее|           1|     женат / замужем|               0|     M|  компаньон|   0|       57508|строительство нед...|                    C|
|       0|  333354.587972724|       58|   высшее|           0|     женат / замужем|               0|     F|  пенсионер|   0|       69131|       покупка жилья|                    C|
|       0| 167422.3022081719|       52|  среднее|           1|     женат / замужем|               0|     M|госслужащий|   0|      167422|     свой автомобиль|                    C|
+--------+------------------+---------+---------+------------+--------------------+----------------+------+-----------+----+------------+--------------------+---------------------+
only showing top 20 rows

In [10]:
from pyspark.sql.functions import udf 
def purpose_group(purpose): 
    if 'автомобил' in purpose: 
        return "операции с автомобилем"
    elif 'жиль' in purpose or 'недвижимо' in purpose:
        return "операции с недвижимостью"
    elif 'свадь' in purpose:
        return "проведение свадьбы"
    else:
        return "получение образования"

purpose_group_udf = udf(purpose_group) 
df_pyspark = df_pyspark.withColumn("purpose_category", purpose_group_udf(df_pyspark.purpose))

df_pyspark.show()

+--------+------------------+---------+---------+------------+--------------------+----------------+------+-----------+----+------------+--------------------+---------------------+--------------------+
|children|     days_employed|dob_years|education|education_id|       family_status|family_status_id|gender|income_type|debt|total_income|             purpose|total_income_category|    purpose_category|
+--------+------------------+---------+---------+------------+--------------------+----------------+------+-----------+----+------------+--------------------+---------------------+--------------------+
|       0|4341.7867754100425|       53|  среднее|           1|    гражданский брак|               1|     F|  компаньон|   0|      261369|операции с недвиж...|                    B|операции с недвиж...|
|       0|12930.541677797675|       61|  среднее|           1|Не женат / не зам...|               4|     F|  компаньон|   0|      173896|        недвижимость|                    C|операции с недвиж...|
|       1| 3267.738265311034|       45|   высшее|           0|    гражданский брак|               1|     F|  сотрудник|   0|      118552|на проведение сва...|                    C|  проведение свадьбы|
|       2|2844.5470858598133|       40|  среднее|           1|     женат / замужем|               0|     F|  сотрудник|   0|      207374|        ремонт жилью|                    B|операции с недвиж...|
|       1|1399.8326217520041|       40|  среднее|           1|     женат / замужем|               0|     M|  сотрудник|   0|      181903|покупка жилой нед...|                    C|операции с недвиж...|
|       1| 918.4577035188928|       28|   высшее|           0|     женат / замужем|               0|     F|  компаньон|   0|      111341|     свой автомобиль|                    C|операции с автомо...|
|       1| 883.7834692065311|       27|  среднее|           1|    гражданский брак|               1|     F|  сотрудник|   0|      229051|  высшее образование|                    B|получение образов...|
|       1| 669.0530823899172|       41|   высшее|           0|     женат / замужем|               0|     M|  компаньон|   1|      125377|сделка с подержан...|                    C|операции с автомо...|
|       0| 392327.7284041557|       66|  среднее|           1|     женат / замужем|               0|     M|  пенсионер|   0|      106022|строительство жил...|                    C|операции с недвиж...|
|       0|3402.0833655451306|       27|  среднее|           1|     женат / замужем|               0|     F|  сотрудник|   0|      161281|заняться высшим о...|                    C|получение образов...|
|       0| 1380.192461002104|       51|  среднее|           1|     женат / замужем|               0|     M|  сотрудник|   0|      101941|          автомобиль|                    C|операции с автомо...|
|       0| 165.5972845299278|       54|  среднее|           1|     женат / замужем|               0|     F|  сотрудник|   0|       69914|     свой автомобиль|                    C|операции с автомо...|
|       1| 641.2886784154639|       34|   высшее|           0|     женат / замужем|               0|     M|  сотрудник|   0|      176509|        ремонт жилью|                    C|операции с недвиж...|
|       0|1741.0828917220367|       56|  среднее|           1|     женат / замужем|               0|     F|  сотрудник|   0|       71174|операции с недвиж...|                    C|операции с недвиж...|
|       0|1198.2809136383146|       43|   высшее|           0|           в разводе|               3|     M|госслужащий|   0|      191350|строительство жил...|                    C|операции с недвиж...|
|       0| 995.5496521801937|       43|  среднее|           1|    гражданский брак|               1|     M|  сотрудник|   1|      143302|               жилье|                    C|операции с недвиж...|
|       0| 3948.224795314823|       49|  среднее|           1|     женат / замужем|               0|     F|  сотрудник|   0|       43538|       покупка жилья|                    D|операции с недвиж...|
|       0|1368.2402581402926|       45|  среднее|           1|     женат / замужем|               0|     M|  компаньон|   0|       57508|строительство нед...|                    C|операции с недвиж...|
|       0|  333354.587972724|       58|   высшее|           0|     женат / замужем|               0|     F|  пенсионер|   0|       69131|       покупка жилья|                    C|операции с недвиж...|
|       0| 167422.3022081719|       52|  среднее|           1|     женат / замужем|               0|     M|госслужащий|   0|      167422|     свой автомобиль|                    C|операции с автомо...|
+--------+------------------+---------+---------+------------+--------------------+----------------+------+-----------+----+------------+--------------------+---------------------+--------------------+
only showing top 20 rows